{% extends 'base.html' %}

{% block content %}
        <div>
            <h2>Welcome to the Main Books application</h2>
            
            <p><a href="{{ url_for('add_book') }} ">Add Book</a></p>
            
            <h3>Current list of books</h3>

            {% for book in books %}
                <div>
                    Author: {{book.author}}<br />
                    Title: {{book.title}}<br />
                    Genre: {{book.genre}}<br />
                    Price: {{book.price}}<br />
                    <br />
                </div>
            {% endfor %}
        </div>
{% endblock %}