<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
</head>
<body>
    <h1>Demo Flask Weather app</h1>
    <form action="" method="post">
        <label for="city">City:</label>
        <input type="text" id="city" name="city" placeholder="Enter city.." />
        <label for="country">Country:</label>
        <input type="text" id="country" name="country" placeholder="Enter country.." />
        <button type="submit">Get weather</button>
    </form>
    <div id="results">
        {% if data %}
        <p>
            The weather in {{data.name}} {{data.sys.country}} is {{data.weather.0.description}} with
            a temperature of {{data.main.temp}} &#8451;
        </p>
        {% endif %}
    </div>

</body>
</html>