<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Stuff I Follow</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
</head>

<body>

    <div id="results">
        <p>IMDB Top 10 Movies</p>
        
    </div>

    <div id="results2">
        <p>Free Stuff on Craigslist</p>
        
    </div>

    <div id="results3">
        <p>Python Jobs from Indeed.ca</p>
        
    </div>

    <div id="results4">
        <p>Toronto Headlines from Twitter</p>
        
    </div>

</body>

</html>