div#results, div#results3 {
    overflow-y: scroll;
    height: 300px;    
    width: 500px;    
    border: 2px solid black;
    padding: 5px;
    margin: 2px;
    float: left;
}

div#results2, div#results4 {
    overflow-y: scroll;
    height: 300px;   
    width: 500px;     
    border: 2px solid black;
    padding: 5px;
    margin: 2px;
    display: inline;
    float: left;
}

p {
    font-weight: bold;
}