{% extends 'base.html' %}

{% block content %}
    <form action="" method="post">
        Author:<br />
        <input type="text" name="author" value="{{book_record.author}}"/><br />
        Title:<br />
        <input type="text" name="title" value="{{book_record.title}}"/><br />
        Genre:<br />
        <input type="text" name="genre" value="{{book_record.genre}}"/><br />
        Price:<br />
        <input type="text" name="price" value="{{book_record.price}}"/><br /><br />
        <button type="submit">Submit Change</button>
    </form>
{% endblock %}